---
import Title from '../../Layout-Component/topContent.astro'
import { containerGridMaxColumn } from '@recipe'

import { bgImage, ul } from './content.css'

import Li from './index'
import svg1 from 'src/assets/icons/icon-how-it-work-1.svg'
import svg2 from 'src/assets/icons/icon-how-it-work-2.svg'
import svg3 from 'src/assets/icons/icon-how-it-work-3.svg'
import { getImage } from 'astro:assets'

export interface ItemProps {
  title: string
  description: string
  iconPath: string
}
const svgUrl = {
  one: await getImage({ src: svg1, format: 'svg' }),
  two: await getImage({ src: svg2, format: 'svg' }),
  three: await getImage({ src: svg3, format: 'svg' }),
}
const data: ItemProps[] = [
  {
    title: 'Prendre rendez-vous',
    iconPath: `url(${svgUrl.one.src})`,
    description: 'Prenez rendez-vous facilement et bénéficiez de soins dentaires adaptés à vos besoins.',
  },
  {
    title: 'Tiers Payant',
    iconPath: `url(${svgUrl.two.src})`,
    description: 'bénéficier du tiers payant sans rien debourser au cabinet',
  },
  {
    title: 'Soins experts',
    iconPath: `url(${svgUrl.three.src})`,
    description: 'Recevez des soins dentaires experts dans un environnement accueillant et sécurisé.',
  },
]
---

<section
  class:list={[
    bgImage,
    containerGridMaxColumn({
      theme: "darkBlueBanner",
      sizeOfBox: 300,
      background: false,
      size: "medium",
      gap: "sm",
      maxColumn: 2,
      marginBlock: "lg",
      paddingBlock: "lg",
      hover: false,
    }),
  ]}
>
  <div class="grid place-items-center bg-slate-900/70 mx-4 px-2">
    <Title
      subtitle="Comment ça marche ?"
      PreTitle="Ce que nous faisons"
      title="Pour votre sourire"
      description="Notre cabinet simplifie vos démarches administratives, vous permettant de vous concentrer sur votre santé et votre bien-être."
      gap="largeGap"
      textAlign="left"
    />
  </div>
  <ul class={ul}>
    {
      data.map((element) => (
        <Li
          title={element.title}
          icon={element.iconPath}
          description={element.description}
        />
      ))
    }
  </ul>
</section>
