---
interface Props {
  title: string
  link: string
    marginInlineCustomProps?: string
}
const {title, link, marginInlineCustomProps} = Astro.props
import {buttonCallToAction, buttonCallToAction_icon, marginInlineCustom} from './button.css'

import {assignInlineVars} from '@vanilla-extract/dynamic'
---

<button
  class={buttonCallToAction}
  type="button"
  aria-label="rendez-vous"
  tabindex="0"
  style={assignInlineVars({
      [marginInlineCustom]: marginInlineCustomProps,
  })}
>
  <a href={link}>{title}</a>
  <span class={buttonCallToAction_icon}>↑</span>
</button>
