---
import {oui, oui2} from './index.css'
import {textRecipe as R} from '../../styles/recipe/textRecipe.css'
import {textSprinkles as S} from '../../styles/recipe/textSprinkles.css'
import {container} from '../../styles/recipe/container.css'
---

<section class={container({background: true, theme: 'accent', size: 'small', hover: false})}>
    <p class={S({fontSize: '6xl', color: 'text', marginY: 'sm', textDecoration: 'underline'})}>
        lsdfjldsj</p>


    <p class={R({font: 'preTitle', textAlign: 'center', marginBlock: 'md'})}>
        textRecipe</p>
    <p class={oui2}>Oui2 class textRecipe</p>
    <!--<p class={oui2}>fsdgd</p>-->
    <!--<p class={oui2}>fsdgd</p>-->
    <!--<p class={oui2}>fsdgd</p>-->
</section>
<section class={container({size: 'large', theme: "darkBlueBanner", background: false, hover: true})}>
    <h1>hello darkBlue</h1>
</section>

