---
import { oui, oui2 } from "./index.css";
---

<section class={oui}>
  <p class={oui2}>fsdgd</p>

  <p class={oui2}>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Placeat, quod?</p>
  <p class={oui2}>fsdgd</p>
  <p class={oui2}>fsdgd</p>
  <p class={oui2}>fsdgd</p>
</section>
