---
interface Props {
  icon: string;
  title: string;
  text: string;
}
import { CardStyle } from "./Specialisation.css";
const { icon, title, text } = Astro.props;
import { Icon } from "astro-icon/components";
import { textRecipe } from "@styles/recipe/textRecipe.css";
---

<div class={CardStyle.wrapper}>
  <Icon name={icon} class={CardStyle.icon} />
  <h3
    class={textRecipe({ font: "highLight", hoverDiv: true, display: "block" })}
  >
    {title}
  </h3>
  <p class={textRecipe({ font: "text", hoverDiv: true, textAlign: "left" })}>
    {text}
  </p>
</div>
