---
import Card from './Card.astro'
import * as s from './spe.css'
import { text2Div } from './spe.css'
---

  <section class={s.wrapper}>
  <div class={s.cardsWrapper}>
    <Card
      title="hello"
      text="kfdjglfdjglfdjld  fdjl dlkjgdlf kjdlkj "
      icon="phone"
    />
    <Card
      title="hello"
      text="kfdjglfdjglfdjld  fdjl dlkjgdlf kjdlkj "
      icon="phone"
    />
    <Card
      title="hello"
      text="kfdjglfdjglfdjld  fdjl dlkjgdlf kjdlkj "
      icon="phone"
    />
    <Card
      title="hello"
      text="dfjdl lkjds lksjf lkdsjlsdjflkdsj lkslkf jdslj fdslj fsldj  ldksj lkdsjg"
      icon="phone"
    />
  </div>
</section>

<section class={text2Div.wrapper}>
  <div class={text2Div.A}>photo</div>
  <div class={text2Div.title}>Title</div>
  <div class={text2Div.text}>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corporis nam vitae, optio quo aperiam aliquid?</div>
</section>
