---
import { Icon } from 'astro-icon/components'
import {
  description,
  element,
  gridContainer,
  image,
  logoIcon,
  sectionContainerIndex,
  sectionContainer__Text,
  title,
} from './diagnostic.css'
import ImageMiddle from 'src/assets/why-choose-us-img.png'
interface Service {
  title: string
  description: string
}
const services: Service[] = [
  {
    title: 'Caries dentaires',
    description:
      'Les caries sont des lésions de la structure dentaire causées par les bactéries, diagnostiquées par examen visuel et radiographies.',
  },
  {
    title: 'Maladies des gencives (gingivite et parodontite)',
    description: 'Inflammation des gencives diagnostiquée par examen visuel et sondes parodontales.',
  },
  {
    title: 'Maladies de la pulpe dentaire',
    description: 'Inflammation de la pulpe dentaire diagnostiquée par tests de sensibilité.',
  },
  {
    title: 'Malocclusion',
    description: 'Problèmes d’alignement des dents diagnostiqués par examen clinique et radiographies.',
  },
  {
    title: 'Maladies des tissus mous',
    description: 'Lésions des tissus mous diagnostiquées par examen visuel et biopsies si nécessaire.',
  },
  {
    title: 'Bruxisme',
    description:
      'Grincement des dents diagnostiqué par examen des signes d’usure et questions sur les habitudes de sommeil.',
  },
]

import { Image } from 'astro:assets'
---

<section class={sectionContainerIndex}>
  <div class={sectionContainer__Text.wrapper}>
    <h6 class={sectionContainer__Text.h6}>why choose us</h6>
    <h2 class={sectionContainer__Text.h2}>
      <span>diagnostics des</span> maladies dentaires
    </h2>
    <p>We are committed to sustainability. eco-friendly initiatives.</p>
  </div>
  <section class={gridContainer}>


    <img class={image} src={ImageMiddle.src} alt="Image illustrative">

    {
      services.map((e) => (
        <dl class={element}>
          <dt class={title}>{e.title}</dt>
          <dd class={description}>{e.description}</dd>
          <span class={logoIcon}>
            <Icon name="toothbrush" />
          </span>
        </dl>
      ))
    }
  </section>
</section>
