---
interface Props {
  title: string
  subtitle: string
  text: string
}
import { CardStyle } from './vanity.css'
const { title, subtitle, text } = Astro.props
---

<div class={CardStyle.wrapper}>
  <h3 class={CardStyle.title}>{title}</h3>
  <h6 class={CardStyle.subtitle}>{subtitle}</h6>
  <hr class={CardStyle.hr} />
  <p class={CardStyle.text}>{text}</p>
</div>
